**/tmp
**/test
**/uploads
*.db
.project
.pydevproject
.env
*.csv
__pycache__
**/data/processed_data/molcas_test/*
*.zip
Untiled.ipynb
**/results
**/.ipynb_checkpoints
**/.qodo
**/data/extracted/**
.qodo
*.sh
